@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Geist Sans", sans-serif;
  --color-brand-black: #000000;
  --color-brand-white: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

.texture-overlay {
  background-image: radial-gradient(#000 0.5px, transparent 0.5px);
  background-size: 4px 4px;
  opacity: 0.1;
}